@CHARSET "UTF-8";

#add_news_ticker {
	margin-top: 40px;
}
#add_news_ticker input,
#add_news_ticker select {
	border-color: #ccc;
	height: 35px;
	margin-bottom: 15px;
	margin-left: 10px;
	width: 250px;
}
#add_news_ticker select {
	padding: 8px 0;
	cursor: pointer;
}
#add_news_ticker textarea {
	border-color: #ccc;
	margin-bottom: 15px;
	margin-left: 10px;
	max-width: 250px;
	min-height: 150px;
	width: 250px;	
}
#add_news_ticker input[type="button"] {
	background-color: #0466C1;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    height: 38px;
    margin-left: 0;
    width: 80px;
}
.add_news_ticker_label {
	float: left;
	padding: 10px 0;
	width: 130px;
	font-size: 13px;
}
.success_message{
	color: #4F8A10;
	background-color: #DFF2BF;
	float: left;
	padding: 10px;
	font-size: 12px;
	border: 1px solid green;
	width: 34%;
}
.error_message{
	color: #D8000C;
	background-color: #FFBABA;
	float: left;
	padding: 10px;
	font-size: 12px;
	border: 1px solid red;
	width: 34%;
}

.disabled_contest_content, .enabled_contest_content {
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-top: 1px solid #808080;
    margin-left: 15px;
    margin-top: 20px;
    font-size: small;
    
}
.disabled_contest_content td, .enabled_contest_content td {
	border-bottom: 1px solid #808080;
	font-size: small;
}
.disabled_contest_content th, .enabled_contest_content th {
	border-bottom: 1px solid #808080;
	font-size: small;
}


.disabled_contest_content thead th, .enabled_contest_content thead th {
	padding: 5px;
    text-align: left;
    width: 200px;
}
tr.alternate {
	background-color: #e3e3e3;
}
.disabled_contest_content tbody td, .enabled_contest_content tbody td {
	padding: 5px;
}
.contest_title {
	font-size: 1.8em;
	margin-left: 15px;
}
.ajax_response{
	float: left;
    margin-left: 15px;
    width: 82%;
}
.error_add_news{

	color:red;
	margin-left: 10px;
}

.add-new-h2 {
	background: none repeat scroll 0 0 #f1f1f1;
    border: 0 none;
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 4px;
    padding: 3px 8px;
    position: relative;
    text-decoration: none;
    top: -3px;
}

.success_message {
    color: #04b404;
    font-weight: bold;
}
.success_message {
    background-color: #dff2bf;
    border: 1px solid green;
    color: #4f8a10;
    float: left;
    font-size: 12px;
    margin-top: 10px;
    padding: 10px;
    width: 34%;
}
#frontpage-info{
   width:100%;
   font-family: Open Sans, Tahoma, Verdana, sans-serif;
   font-size:17px;}
.news_block_widget{padding:5px 30px;}
.news_block_widget ul{ 
   width: 100% !important;   
   background: #fefefe;
 /*  text-indent: -1em; */ }

.news_block_widget ul li{
	 border-bottom: 1px solid #e3e3e3;
    font-size: 15px;
    line-height: 18px;
    list-style: none outside none;
    padding-bottom: 8px;
    padding-left: 0 !important;
    padding-right: 0;
    padding-top: 8px;
  }

.left_news_block{	
	float:left;
	width:48.5%;
border: 1px solid #e3e3e3;	
}
.right_news_block{	
	float:right;
	width:48.5%;
border: 1px solid #e3e3e3;
}
.news-block-header{
	font-family:Arial;
        font-size: 14px;
	background-image: none;
	background-color: #4c4a4b;
	border: none;	
	color: #fff;
	padding: 10px;
	}
.story-heading{
	font-size: 20px;
}
.red_star {	color: #ff0000; }
.required-txt{
	font-size: 13px;
}
.news-main-title{

	font-family: Arial,Helvetica,sans-serif, Arial, Helvetica, sans-serif;
        text-shadow: 1px 1px 0 #116BB7;
        font-size: 20px;
        font-style: normal;
	color:#fff;
	 padding: 7px 25px;
	margin-top: 20px;

}
.date-title{
        width:115px;
	background-color: #4c4a4b;
  	padding: 5.5px 20px;
  	font-size: 14.5px;
  	color: #fff;
        text-transform:uppercase;
  	}
.news-section, .news-section-last-item{
	border: 1px solid #e3e3e3;
  	padding: 0 20px 0px 20px;
  	margin-bottom: 20px;
}
.news-division, .news-division-last-item{	
  	font-size: 14px;
  	padding: 8px 0;
  	border-bottom: 1px solid #e3e3e3;}

.news-division, .news-division a, .news-division-last-item, .news-division-last-item a{color: #2d2d2d;}

.news-division-last-item{	  	
  	border-bottom: none;
}
.news-section-last-item{
	margin-bottom:0px;	
}

.link-more-news{	
	margin: 20px 0 30px;
	text-align: right;}

.link-more-news a{
  	background-color: #0456a2;
  	color: #fff;
  	border-radius: 2px;
  	padding: 8px 26px;
  	font-size: 14px;
}
.news_block_widget ul li a:hover, .news-section a:hover{color: #c00;} 

